<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bballgraphs-syncer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a8436922-3667-4d52-aac8-41c6990f1490/resourceGroups/bball-rg/providers/Microsoft.Web/sites/bballgraphs-syncer</ResourceId>
    <UserName>$bballgraphs-syncer</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://bballgraphs-syncer.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>